# Executables
main
tests/resp_tests
tests/*.cmake

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
src/CTestTestfile.cmake
src/liblinkedlist_impl.a
src/libredis_impl.a
src/libresp_impl.a
src/libserver_impl.a
src/libstore_impl.a
Testing/
tests/redis_tests

# Redis 
dump.rdb

# VSCode
.vscode/
